# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 263

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 6.24

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [11]:
height = 1.75

#### 6. asign variable "mass" with your weight

In [5]:
mass = 61

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [13]:
bmi = mass / (height * height)

#### 8. print value from "bmi" variable

In [14]:
print(bmi)

19.918367346938776

# String

#### 1. Create variable "name" with your first name

In [16]:
name = 'Renée'

#### 2. Create variable "surname" with your surname

In [17]:
surname = 'Hall'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [18]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [19]:
print(name_surname)

Renée Hall

#### 5. print first letter from variable "name_surname"

In [20]:
print(name_surname[0])

R

#### 6. print your name (without enmpty space) from variable "name_surname"

In [22]:
print(name_surname[:5])

Renée

#### 7. print your surname 10x (use variable surname)

In [24]:
print((surname + ' ')*10)

Hall Hall Hall Hall Hall Hall Hall Hall Hall Hall

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [25]:
message = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [26]:
print(message)

Hello my name is Renée Hall

## List

#### 1. create empty list with name "empty_list"

In [27]:
empty_list = []

#### 2. create list "heights" with five random values

In [29]:
heights = [1, 45, 78, 30, 23]

#### 3. print heights

In [30]:
print(heights)

[1, 45, 78, 30, 23]

#### 4. print type of variable "heights"

In [31]:
type(heights)

list

#### 5. print second value from "heights"

In [32]:
print(heights[1])

45

#### 6. assign last three values from "heights" to another list "heights_2"

In [33]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [34]:
print(heights_2)

[78, 30, 23]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [35]:
list_all = heights + heights_2

#### 9. print "list_all"

In [36]:
print(list_all)

[1, 45, 78, 30, 23, 78, 30, 23]

#### 10. print the type of "list_all"

In [37]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [38]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [40]:
empty_tuple[1] = 'Renée'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Lists are mutable, and tuples are not

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [41]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [42]:
heights_dict = {
    'Renée' : 1.75
}

#### 3. asign another name and height to "heights_dict"

In [43]:
heights_dict['Keegan'] = 1.83

#### 4. print "heights_dict" dictionary

In [44]:
print(heights_dict)

{'Renée': 1.75, 'Keegan': 1.83}

#### 5. print your height from the "heights_dict" dictionary

In [45]:
print(heights_dict['Renée'])

1.75

#### 6. print all values from "heights_dict" dictionary

In [46]:
print(heights_dict.values())

dict_values([1.75, 1.83])

In [47]:
list(heights_dict.values())

[1.75, 1.83]

#### 7. print all keys from "heights_dict" dictionary

In [50]:
print(heights_dict.keys())

dict_keys(['Renée', 'Keegan'])

In [51]:
list(heights_dict.keys())

['Renée', 'Keegan']